.box {
    border: 1px solid #ffffff00;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

.animation-duration-500 {
    animation-duration: .5s !important;
}

.fadein {
    animation: fadein .15s linear;
}

.box:after {
    animation: clippath 3s linear -1.5s infinite;
}

.box:after, .box:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #e69b0c;
    transition: all .5s;
    animation: clippath 3s linear infinite;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
}

.box:after {
    animation: clippath 3s linear -1.5s infinite
}

.box:hover:after,.box:hover:before {
    opacity: 1
}

@keyframes clippath {
    0%,to {
        -webkit-clip-path: inset(0 0 98% 0);
        clip-path: inset(0 0 98% 0)
    }

    25% {
        -webkit-clip-path: inset(0 98% 0 0);
        clip-path: inset(0 98% 0 0)
    }

    50% {
        -webkit-clip-path: inset(98% 0 0 0);
        clip-path: inset(98% 0 0 0)
    }

    75% {
        -webkit-clip-path: inset(0 0 0 98%);
        clip-path: inset(0 0 0 98%)
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}