/* .login-item {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.login-item:hover {
  border-bottom: 2px solid #e69b0c;
  cursor: pointer;
  color: rgba(255, 255, 255, 255);
}

.signin-item {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.signin-item:hover {
  border-bottom: 2px solid #e69b0c;
  cursor: pointer;
  color: rgba(255, 255, 255, 255);
} */

.icon-item {
  color: var(--primary);
  padding: 0.5rem;
}

.icon-item:hover {
  background-color: var(--primary-900);
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--primary-100);
}

.sticky-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Ajusta el valor del índice z según sea necesario */
}
