.cart-title {
  /* padding: 10px; */
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 0;
}

.cart-subtitle {
  /* padding: 10px; */
  margin-left: 1%;
  margin-top: 0;
}

/* .cart-container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px;
  padding: 10px; 
  width: 95%;
  margin-bottom: 5%;
}

.cart-grid-cell {
  text-align: center; 
  padding: 0; 
  margin: 0; 
  height: 100%; 
} */

.product-list-button {
  background: none;
  border: 0;
  color: inherit;
}
