.contenedor {
  position: relative;
  width: 300px; /* Ancho de tu imagen */
  height: 200px; /* Alto de tu imagen */
}

.imagen {
  width: 100%;
  height: 100%;
  background-image: url("tu_imagen.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
}

.superpuesto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Color de fondo del div superpuesto con opacidad */
}
